body{
 background-color: dimgray;   
}

img{
    border-radius: 5px;
    border: 5px solid white;
    width: 250px;
    height: 350px;
    margin-left: 10px;
    margin-bottom: 10px;
}

ul{
    display: flex; 
    overflow: auto;
    white-space: nowrap;
}

hr{
    margin: 5px 5px 5px 5px;
}
