body{
 background-color: dimgray;   
}

div{
    background-color: darkgrey;
    border-radius: 5px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 10px;
}

img{
    border-radius: 5px;
    border: 5px solid white;
    width: 250px;
    height: 350px;
    margin-top: 20px;
}
